#container-cards-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1040px;
  justify-self: center;
  margin-bottom: 144px;
}

#projects {
  display: grid;
  justify-items: center;
  background-color:var(--gray-200);

  span {
    margin-bottom: 8px;
  }
  h2
  {
    color: var(--gray-600);
    margin-bottom: 56px;
  }
}

#my-services {
  display: grid;
  justify-items: center;
  background-color: var(--gray-100);
 
  

  span {
    margin-block: 88px 8px ;
  }

  h2 {
    color:var(--gray-600);
    margin-bottom: 56px;
  }

  #container-service-card {
    display: flex;
    margin-bottom: 120px;
  }
}

 



